.conception {
  margin-bottom: 20px;
}

.conception__heading {
  @include oswald(36px, 60px, 400, #111111);

  margin: 0 20px 28px;
}

.conception__list {
  @include list-reset;

  margin: 0 20px 42px;
  width: 280px;
}

.conception__item {
  @include arial(14px, 18px, 400, #444444);

  position: relative;
  margin-bottom: 20px;
  padding: 3px 0 3px 80px;

  &::before {
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $prime-green;
  }

  &--leaf::before {
    content: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    content: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    content: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    content: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .conception {
    margin-bottom: 0;
  }

  .conception__heading {
    margin: 0 30px 72px;
    font-size: 60px;
  }

  .conception__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: auto;
    counter-reset: item;
  }

  .conception__item {
    margin: 0 0 0 30px;
    padding: 112px 90px 0 0;
    width: 354px;
    min-height: 318px;
    font-size: 16px;
    line-height: 24px;

    &::before {
      padding: 15px;
      width: 80px;
      height: 80px;
    }

    &::after {
      @include oswald(281px, 281px, 400, #f2f2f2);

      position: absolute;
      counter-increment: item;
      content: counter(item);
      margin: 0 0 0 -100px;
      top: -40px;
      left: 50%;
      width: 200px;
      text-align: center;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .conception__heading {
    margin: 0 110px 72px;
  }

  .conception__list {
    margin: 0 auto;
    width: 1300px;
  }

  .conception__item {
    margin: 0 40px;
    padding: 112px 0 0 0;
    width: 245px;
    min-height: 265px;

    &::after {
      left: auto;
      right: -35px;
    }
  }
}
