.diets {
  margin-bottom: 20px;
  padding: 20px 20px 0;
}

.diets__type {
  position: relative;
  padding: 1px 0;
  margin-bottom: 20px;
  background-color: #f2f2f2;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: $prime-green;
    border-radius: 50%;
  }

  &--slim::after {
    position: absolute;
    content: url("../img/cat-slim.svg");
    top: 18px;
    left: 30px;
    width: 35px;
    height: 49px;
  }

  &--pro::after {
    position: absolute;
    content: url("../img/cat-pro.svg");
    top: 34px;
    left: 12px;
    width: 67px;
    height: 28px;
  }
}

.diets__heading {
  @include oswald(24px, 37px, 400, #111111);

  margin: 26px auto 18px 93px;
  width: 165px;
  text-transform: uppercase;
}

.diets__description {
  @include arial(14px, 18px, 400, #444444);

  margin: 18px auto;
  padding-bottom: 20px;
  width: 240px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.diets__link {
  @include oswald(16px, 16px, 400, #111111);

  position: relative;
  display: inline-block;
  margin: 2px 20px 22px;
  padding-right: 37px;
  max-width: 240px;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: url("../img/right-arrow-long.svg");
    top: -2px;
    right: 0;
    width: 24px;
    height: 15px;
  }

  &:hover {
    padding-right: 45px;
  }

  &:hover::after {
    content: url("../img/right-arrow-verylong.svg");
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .diets {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  .diets__type {
    margin-bottom: 30px;

    &::before {
      top: 92px;
      left: auto;
      right: 63px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 80px;
      left: auto;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 135px;
      left: auto;
      right: 30px;
      width: 268px;
      height: 112px;
    }
  }

  .diets__heading {
    margin: 75px auto 26px 53px;
    width: 350px;
    font-size: 36px;
  }

  .diets__description {
    margin: 18px auto 26px 51px;
    padding-bottom: 20px;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
    border: none;

    &--pro {
      width: 340px;
    }
  }

  .diets__link {
    margin: 9px auto 61px 53px;
    padding-right: 47px;
    font-size: 20px;
    line-height: 20px;

    &:hover {
      padding-right: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .diets {
    display: flex;
    margin: 0 auto 73px;
    padding: 0;
    width: 1300px;
  }

  .diets__type {
    margin: 0 40px;
    width: 570px;

    &::before {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 41px;
      left: 66px;
      right: auto;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 69px;
      left: 34px;
      right: auto;
      width: 134px;
      height: 56px;
    }
  }

  .diets__heading {
    margin: 75px auto 74px 214px;
    width: 300px;
  }

  .diets__description {
    margin: 20px auto 22px 51px;
    padding-bottom: 0;
    width: 470px;
  }
}
