.info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 115px;
}

.info--bg-gray {
  background: #f2f2f2;
}

.info__dealer {
  @include oswald(16px, 20px, 400, #111111);

  margin: 30px 0 25px;
  width: 140px;
  text-transform: uppercase;
}

.info__address {
  @include arial(14px, 20px, 400, #444444);

  margin: 30px 0 25px;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .info {
    padding: 1px 0;
  }

  .info__dealer {
    margin: 63px 0 60px 70px;
    font-size: 20px;
    line-height: 25px;
  }

  .info__address {
    margin: 61px 72px 57px 0;
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  .info__wrap {
    display: inline-block;
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    position: relative;
    width: 570px;
    margin: 97px 0 -297px 110px;
    background-color: #ffffff;
    z-index: 1;
  }

  .info__dealer {
    margin: 63px 0 60px 75px;
  }

  .info__address {
    margin: 61px 65px 57px 0;
    text-align: left;
    width: 180px;
  }
}
