.intro {
  padding: 1px 0;
  min-height: 305px;
  text-align: center;
  background: url("../img/index-can-mobile@1x.png") no-repeat center bottom 47px,
    url("../img/index-background-mobile@1x.jpg") no-repeat 50% top,
    linear-gradient(to bottom, #65a93c 305px, #ffffff 305px) no-repeat;
  background-size: 280px 271px, 320px 305px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background: url("../img/index-can-mobile@2x.png") no-repeat center bottom 47px,
      url("../img/index-background-mobile@2x.jpg") no-repeat 50% top,
      linear-gradient(to bottom, #65a93c 305px, #ffffff 305px) no-repeat;
    background-size: 280px 271px, 320px 305px;
  }
}

.intro__heading {
  @include oswald(36px, 36px, 400, #ffffff);

  margin: 27px auto 25px;
  width: 280px;
  text-align: center;
}

.intro__text {
  @include oswald(14px, 14px, 400, #ffffff);

  margin: 25px auto 302px;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
}

.intro__btn {
  @include oswald(14px, 18px, 400, #ffffff);

  display: inline-block;
  margin-bottom: 3px;
  padding: 11px;
  width: 280px;
  background-color: $prime-green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 869px;
    text-align: left;
    background: url("../img/index-can-tablet@1x.jpg") no-repeat center bottom;
    background-size: 709px 609px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .intro__heading {
    margin: 58px auto 42px 117px;
    width: 560px;
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__text {
    margin: 42px 30px 42px 118px;
    width: auto;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro__btn {
    margin: 5px 30px 5px 118px;
    padding: 16px;
    width: auto;
    min-width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
    margin: -554px 0 135px;
    min-height: 499px;
    background: url("../img/index-can-desktop@1x.png") no-repeat 63% top;
    background-size: 552px 499px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .intro__heading {
    margin: 80px auto 40px 190px;
  }

  .intro__text {
    margin: 40px auto 50px 190px;
    width: 540px;
  }

  .intro__btn {
    margin: 3px auto 40px 190px;
  }
}
