.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  margin: 0 20px;
  padding: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page-footer__logo-link {
  display: inline-block;
  margin: 38px 0 27px;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-icon {
  width: 128px;
  height: 24px;
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 17px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
}

.page-footer__social-item {
  margin: 5px 24px 5px 14px;
}

.page-footer__social-link {
  display: block;
  font-size: 0;

  &:focus .page-footer__social-icon {
    fill: $prime-green;
  }
}

.page-footer__social-icon {
  fill: #666666;

  &--big {
    display: none;
  }

  &--mob {
    display: block;
  }

  &:hover {
    fill: $prime-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__development {
  padding: 1px 0;
}

.page-footer__develop-by {
  @include arial(16px, 16px, 400, #444444);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 20px 22px;
  height: 34px;
  text-decoration: none;

  &:focus,
  &:hover {
    fill: $prime-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    width: 33.3%;
    text-align: left;
  }

  .page-footer__logo-link {
    margin: 63px 0 57px 30px;
  }

  .page-footer__social-list {
    margin: 0;
    padding: 0;
    width: 33.3%;
    border-bottom: none;
  }

  .page-footer__social-item {
    margin: 4px 23px 7px 6px;
  }

  .page-footer__social-icon {
    &--big {
      display: block;
    }

    &--mob {
      display: none;
    }
  }

  .page-footer__development {
    padding: 0;
    width: 33.3%;
  }

  .page-footer__develop-by {
    margin: 0 30px 3px auto;
    width: 164px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-link {
    margin: 63px 0 57px 110px;
  }

  .page-footer__develop-by {
    margin: 0 108px -1px auto;
  }
}
