.questionnaire {
  padding: 1px 0;
  background-color: #ffffff;
}

.questionnaire__heading {
  @include oswald(36px, 60px, 400, #111111);

  margin: 14px 20px;
}

.questionnaire__notice {
  @include oswald(14px, 18px, 400, #111111);

  margin: 25px 20px 40px;
  text-transform: uppercase;
}

.questionnaire__label {
  @include oswald(16px, 18px, 400, #222222);

  display: flex;
  margin: 0 20px 13px;
  padding-top: 13px;
  text-transform: uppercase;
}

.questionnaire__label:last-of-type {
  margin-bottom: 0;
}

.questionnaire__input {
  @include oswald(16px, 18px, 400, #444444);

  flex-grow: 1;
  margin: -13px 0 0 15px;
  padding: 13px 40px 12px 13px;
  width: 150px;
  text-transform: uppercase;
  border: 1px solid rgba(#cdcdcd, 0.5);
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }

  &--error {
    border: 1px solid #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }
}

.questionnaire__group-2 {
  margin-top: 24px;
  padding: 7px 0;
  border: 1px solid #ededed;
}

.questionnaire__radio {
  @include oswald(16px, 18px, 400, #222222);

  position: relative;
  display: block;
  margin: 13px 20px;
  padding: 6px 0 6px 46px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }

  input:checked + &::before {
    background-color: $prime-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.questionnaire__group-3,
.questionnaire__group-4,
.questionnaire__group-5 {
  padding: 1px 0;
}

.questionnaire__group-name {
  @include oswald(24px, 24px, 400, #111111);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 27px 0 34px;
  padding-left: 20px;
  background-color: #ffffff;

  &::after {
    content: "";
    display: block;
    flex-grow: 1;
    margin-left: 20px;
    min-width: 99px;
    height: 17px;
    border-bottom: 3px solid $prime-green;
  }

  &--decrease-margin {
    margin-top: 22px;
  }
}

.questionnaire__icon {
  fill: #222222;

  &--mail {
    margin: 3px 16px 0 -33px;
  }

  &--phone {
    margin: 0 13px 0 -33px;
  }
}

.questionnaire__input:focus + .questionnaire__icon {
  fill: $prime-green;
}

.questionnaire__input--error + .questionnaire__icon {
  fill: #ff8282;
}

.questionnaire__text-area {
  @include oswald(16px, 18px, 400, #444444);

  margin: 0 20px;
  padding: 13px;
  width: 280px;
  height: 150px;
  text-transform: uppercase;
}

.questionnaire__checkbox {
  @include oswald(16px, 18px, 400, #222222);

  display: block;
  position: relative;
  margin: 0 20px 13px;
  padding: 6px 0 6px 45px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }

  input:checked + &::after {
    position: absolute;
    content: url("../img/icon-tick.svg");
    top: 7px;
    left: 5px;
    width: 21px;
    height: 16px;
  }
}

.questionnaire__submit {
  @include oswald(16px, 20px, 400, #ffffff);

  margin: 18px 20px 5px;
  width: 280px;
  min-height: 40px;
  border: none;
  background-color: $prime-green;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.questionnaire__lettering-legend {
  @include arial(14px, 16px, 400, #444444);

  margin: 16px 20px 29px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .questionnaire__heading {
    font-size: 60px;
    margin: 59px 30px 20px;
  }

  .questionnaire__notice {
    margin: 55px auto 65px 70px;
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }

  .questionnaire__form {
    margin-bottom: 62px;
  }

  .questionnaire__group-1 {
    margin: 0 0 73px;
  }

  .questionnaire__label {
    margin: 0 67px 21px 72px;
    padding: 15px 0 0 0;
    font-size: 20px;
    line-height: 20px;
  }

  .questionnaire__input {
    margin: -15px 0 0 16px;
    padding: 10px 40px 10px 17px;
    font-size: 20px;
    line-height: 20px;
  }

  .questionnaire__group-2 {
    margin: 0 67px 10px 71px;
    padding: 10px 0 13px;
    border-color: #cdcdcd;
  }

  .questionnaire__radio {
    margin: 12px 26px;
    padding: 11px 0 10px 60px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 3px;
      left: 2px;
      width: 38px;
      height: 38px;
      border: 10px solid #ffffff;
    }
  }

  .questionnaire__group-name {
    margin: 64px 0 76px;
    padding: 0;
    width: 100%;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      display: block;
      margin-right: 40px;
      width: 30px;
      height: 25px;
      border-bottom: 3px solid $prime-green;
    }

    &::after {
      margin-left: 40px;
      height: 25px;
    }

    &--decrease-margin {
      margin-top: 59px;
      margin-bottom: 57px;
    }
  }

  .questionnaire__icon {
    &--mail {
      margin: 5px 19px 0 -38px;
    }

    &--phone {
      margin: 2px 15px 0 -36px;
    }
  }

  .questionnaire__group-5 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .questionnaire__text-area {
    margin: 0 auto 0 71px;
    padding: 10px 17px;
    font-size: 20px;
    line-height: 30px;
    width: 630px;
    height: 174px;
  }

  .questionnaire__checkbox {
    margin: 0 0 32px 70px;
    padding: 9px 0 11px 58px;
    width: 274px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 40px;
      height: 40px;
    }

    input:checked + &::after {
      top: 10px;
      left: 10px;
    }
  }

  .questionnaire__submit {
    margin: 20px 0 5px 71px;
    width: 282px;
    min-height: 50px;
    font-size: 20px;
    line-height: 20px;
    outline: none;
  }

  .questionnaire__lettering-legend {
    margin: 36px 20px 29px 69px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__heading {
    margin: 72px 110px 20px;
  }

  .questionnaire__notice {
    margin: 55px auto 65px 110px;
  }

  .questionnaire__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .questionnaire__group-1 {
    margin: 0 0 20px 110px;
  }

  .questionnaire__label {
    margin: 0 0 21px;
    width: 570px;

    &--email {
      margin-left: 110px;
    }

    &--phone {
      margin-left: 79px;
    }
  }

  .questionnaire__group-2 {
    margin: 0 0 0 80px;
    width: 570px;
  }

  .questionnaire__group-3,
  .questionnaire__group-4,
  .questionnaire__group-5 {
    width: 100%;
  }

  .questionnaire__group-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .questionnaire__group-name {
    margin: 46px 0 76px;

    &::before {
      width: 70px;
    }

    &--decrease-margin {
      margin-bottom: 57px;
    }
  }

  .questionnaire__text-area {
    margin: 0 auto 0 110px;
    width: 1220px;
  }

  .questionnaire__group-4 {
    margin-bottom: 14px;
  }

  .questionnaire__group-5 {
    justify-content: center;
  }

  .questionnaire__checkbox {
    margin: 0 0 40px 40px;
    width: 285px;
  }

  .questionnaire__submit {
    margin: 20px 0 19px 110px;
    width: 570px;
  }

  .questionnaire__lettering-legend {
    margin: 36px auto 37px 82px;
  }
}
